{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet", href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container", id="app">
        <header class="header">
            <h1 class="app-title">Weather App</h1>
            <div class="header-control">
                <button class="btn btn-secondary" id="toggleUnit">°C / °F</button>
                <button class="btn btn-primary" id="useLocation" >📍 Use My Location</button>
            </div>
        </header>
    </div>
</body>
</html>